[run]
source = app
branch = true
omit =
    */tests/*
    */__main__.py

[report]
fail_under = 0
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
show_missing = true

[html]
directory = htmlcov
